<?php
$VendorPath=__DIR__.'/vendor';
if(!is_dir($VendorPath)){
    $VendorPath=__DIR__.'/../../../../../vendor';
}
$Loader=include "$VendorPath/autoload.php";
$Loader->add('RickySu\\Tagcache', __DIR__.'/../../');
return $Loader;